ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
pyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e .

#pip install ipykernel pandas numpy matplotlib plotly seaborn scikit-learn pymongo from_root dill certifi pyYAML boto3 mypy-boto3-s3 botocore fastapi python-multipart uvicorn jinja2 imblearn
